.container{
    height: 100vh;
}
/* THIS IS ALL FOR CARD */
body {
    width: 100vw;
    height: 100vh;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px black;
    text-align: center;
}

.card_image {
    grid-area: image;
    background:url(https://fakeimg.pl/400x300/009578/fff/); /* image goes here */
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    background-size: cover;
}

.card_text {
    grid-area: text;
    margin: 25px;
}

.card_stats {
    grid-area: stats;
}

/* THIS IS ALL FOR CARD */