:root{
    --dark : rgba(0, 0, 0, 0.787);
    
}

body{
    background-image:url(../img/54677.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    backdrop-filter: blur(3px);
    height: fit-content;

}
.container{
    height: 80vh;    
    
}
header{
    height: 20vh;
    margin-top: 0%;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.864);
    
}
h1{  
    color: rgb(184, 22, 22);    
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;

}

button{
    background-color: black;
    color: white;
}

.search-form{
    background-color: var(--dark);
}

select{
background-color: rgb(65, 63, 63);
color: white;
}
.font{
    font-family: 'Sedgwick Ave Display', cursive;

}
footer p{

    font-size: 24px;
    padding-right: 50px;
    
    }

#card {
        margin-bottom: 400px;
        margin-top: 100px;
      }
#clock {
        position: fixed;
        top: 20px;
        left: 30px;
        padding: 10px;
        background-color: #280d0d;
        color: rgb(161, 89, 89);
        border: 1px solid #7f3333;
        font-size: 16px;
        font-family: Arial, sans-serif;
      }
    
.hide{
    display: none;
}

#modalA{
    
    width: calc(screen);
    padding-top: 275px;
    
  }

@media only screen and (max-width: 992px) {
   
  .screenhide{
        display: none;
  }

}


